.school-list {
  position: fixed;
  height: 100%;
  padding: 50px 5px;
  width: 280px;
  box-shadow: rgba(0, 0, 0, 0.10) 0px 3px 10px, rgba(0, 0, 0, 0.15) 0px 3px 10px;
  overflow: scroll;
  transition: all 0.2s;
}
