.table-cell {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid #979797;
}

.year-cell {
  margin: 0;
  font-weight: bold;
}

.data-cell p {
  width: 40px;
  padding: 3px 20px;
  margin: 0;
  border-radius: 5px;
  color: #FFF;
  text-align: center;
}
